body {
  padding: 2em;
  font-family: 'Roboto';
}
.lead {
  font-size: 1.33333333333333em;
  font-weight: 300;
}
.jumbotron {
  background-color: #fff;
  font-size: 24px;
}
.jumbotron h1 {
  font-size: 42px;
}
.form-control-url {
  font-size: 1em;
  font-weight: 300;
}
.btn-shorten {
  font-weight: 300;
  font-size: 22px;
}
strong {
  font-weight: 700;
}
code {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1em;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

}
code.active,
code:hover {
  /*color: #78bc2f;*/
/*  color: #468847;
  background-color: #dff0d8;
  border: 2px solid #d6e9c6;*/
}
[contenteditable='true'] {
  color: #000;
  background-color: #fff;
}
.btn-ok {
  margin-left: 10px;
}