body {
  padding: 2em;
}
* {
  font-family: 'Bitter' !important;
}
.jumbotron h1 {
  font-size: 48px;
}
code {
  font-weight: 300;
  font-size: 1em;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
code.active,
code:hover {
  /*color: #78bc2f;*/
/*  color: #468847;
  background-color: #dff0d8;
  border: 2px solid #d6e9c6;*/
}
[contenteditable='true'] {
  color: #000;
  background-color: #fff;
}
.btn-ok {
  margin-left: 10px;
}